<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Author</title>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
</head>
<body>
    <div th:insert="fragments/general.html :: navbar"></div>
    <div class="container">
        <h1 class="text-center my-4">Add Author</h1>
        <form th:action="@{/add_author}" th:object="${author}" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Author firstname</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Enter author firstname" required>
            </div>
            <div class="mb-3">
                <label for="surname" class="form-label">Author surname</label>
                <input type="text" class="form-control" id="surname" th:field="*{surname}" placeholder="Enter author surname" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Author</button>
        </form>
    </div>
</body>
</html>