<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
</head>
<body>
    <div th:insert="fragments/general.html :: navbar"></div>
    <div class="container">
        <h1 class="text-center my-4">Add Book</h1>
        <form th:action="@{/add_book}" th:object="${book}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="for m-label">Book title</label>
                <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="Enter book title" required>
            </div>
            <div class="mb-3">
                <label for="quantity" class="form-label">Book quantity</label>
                <input type="number" class="form-control" min=1 value=1 id="quantity" th:field="*{quantity}" placeholder="Enter book quantity" required>
            </div>
            <div class="mb-3">
                <label for="collateralCost" class="form-label">Book collateral cost</label>
                <input type="number" class="form-control" min=1 value=1 id="collateralCost" th:field="*{collateralCost}" placeholder="Enter book collateral cost" required>
            </div>
            <div class="mb-3">
                <label for="rentalCost" class="form-label">Book rental cost</label>
                <input type="number" class="form-control" min=1 value=1 id="rentalCost" th:field="*{rentalCost}" placeholder="Enter book rental cost" required>
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <select class="form-select" id="author" th:field="*{authorId}">
                    <option value="">Choose an author</option>
                    <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name + ' ' + author.surname}">Author</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="library" class="form-label">Library</label>
                <select class="form-select" id="library" th:field="*{libraryId}">
                    <option value="">Choose a library</option>
                    <option th:each="library : ${libraries}" th:value="${library.id}" th:text="${library.name}">Library</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="genre" class="form-label">Genre</label>
                <select class="form-select" id="genre" th:field="*{genreId}">
                    <option value="">Choose a genre</option>
                    <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}">Genre</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="file" class="form-control" id="image" name="image" accept="image/*">
            </div>
            <button type="submit" class="btn btn-primary">Add Book</button>
        </form>
    </div>
</body>
</html>